
.fishes{
    border: dotted blue 1px;
}

.fish{
   display: flex;
    margin: 2rem;
    border: dotted black 1px;
    background-color: rgb(66, 176, 250, .5);
    padding: 2rem;
}

.fish__image{
    height: 10rem;
}

.fishInfo{
    align-self: center;
    margin-left: 2rem;
    margin-bottom: 1rem;

}

