



.location{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(160, 160, 160, .5);
    padding: 2rem;
    border-radius: 5px;

}

.location__image{
    height:10rem;
}

.location__container__right{
margin-left: 1rem;
}

.location__name{
    margin-top: .5rem;
}

.location__link{
    margin-top: .5rem;
}

.location__info{
    margin-top: 1rem;
}